body {
  background-color: #eaf6ff;
}



/* App container */
.app-container {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  /* background-color: #fff; */
  background: linear-gradient(to right, #dff1ff, #fef6e4);

  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  font-family: sans-serif;
}

/* Header */
h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #2563eb;
}

/* Input & Button */
input[type="text"] {
  padding: 10px;
  width: 70%;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

button {
  padding: 10px 14px;
 background: linear-gradient(to right, #4f46e5, #9333ea);
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  margin: 5px;
  
}

button:hover {
  background-color: #1e40af;
}

.gradient-button {
  background: linear-gradient(to right, #4f46e5, #9333ea);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  /* box-shadow: 0 4px 6px rgba(0,0,0,0.0); */
}

.gradient-button:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 10px rgba(0,0,0,0.1);
}


/* Each Todo item */
.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 10px;
  background-color: #f3f4f6;
  margin-top: 10px;
  border-radius: 6px;
}

.todo-item span {
  flex: 1;
  margin-left: 10px;
  font-size: 16px;
}
